// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Gifting color scheme
$black: #202023;
$dark-gray: #2D3034;
$light-gray: #F3F3F6;
$gray: #77787B;
$white: #F0F0F4;
$dark-orange: #EE6C4D;
$light-orange: #F38D68;
