<div class="container">
  <h1>Gifting</h1>
  <h2>No more wrong gifts!</h2>
  <p>Gifting allows you to let your family and friends know your wishes for special occasions. In addition, you can look up their wishes as well to make sure your present will never disappoint again!</p>
</div>
